## Captura e Visualização de dados

<b>Professor:</b> Diénert Vieira
<b>Telefone:</b> (83) 9 8182-1479
<b>Email:</b> dienertalencar@gmail.com

### Segunda avaliação de aprendizagem

Agora que você aprendeu a fazer o parsing de um único arquivo, desenvolva um mecanismo que permita realizar o parsing de todos os meses do ano de 2019. Dessa forma você poderá analisar uma maior volume de dados e reaproveitar o código que já foi desenvovido nas tarefas anteriores.

### Tarefa 02
#### Aproveite o que já fez e faça o parsing de todos os meses de 2019

Importar a biblioteca do framework scrapy

In [37]:
import scrapy
import xml.etree.ElementTree

Copiar o método extrair_transacao do exercício anterior

In [72]:
def extrair_transacao(transacao_selector, referencia):
    data = transacao_selector.css('dtposted::text').extract_first() 
    descricao = transacao_selector.css('memo::text').extract_first()  
    taxa = None
    valor = transacao_selector.css('trnamt::text').extract_first()
    return {'date': data[0:4]+'-'+data[4:6]+'-'+data[6:8],
            'descricao': descricao,
            'valor': valor if taxa is None else round(float(valor)*float(taxa), ndigits=2),
            'referencia': referencia}

Copiar o processamento anterior à chamada do extrair_transacao e colocar no método parse_xml para ser chamado para cada arquivo do diretório de extratos do cartão ou da conta corrente

In [65]:
def parse_xml(path):
    ofx = open(path)
    text = ofx.readlines()
    text = ' '.join(text)
    selector = scrapy.selector.Selector(text=text)
    transacoes = selector.css('stmttrn')
    referencia = selector.css('dtasof::text').extract_first()
    referencia = referencia[0:4]+'-'+referencia[4:6]+'-'+referencia[6:8] if referencia else None
    return [extrair_transacao(transacao, referencia) for transacao in transacoes]

In [50]:
lista = []

In [51]:
pathCartao = '../../'
pathConta = '../../'

In [52]:
import os

In [53]:
os.listdir(pathCartao)

['2018-04.ofx',
 'av1_1.json',
 'av1_2.json',
 'avaliacao_1_1.py',
 'avaliacao_1_2.py',
 'conta.ofx',
 'expensesv2',
 'mes.json',
 'teste.py',
 '__pycache__']

In [54]:
filesCartao = [file for file in os.listdir(pathCartao) if '18' in file or '20' in file]
filesCartao.sort()
filesCartao
print(filesCartao)
print(pathCartao+file)

['2018-04.ofx']
../../2018-04.ofx

In [73]:
for file in filesCartao:
    lista.extend(parse_xml(pathCartao+file))

In [74]:
lista

[{'date': '2018-03-09',
  'descricao': 'Repasse pagamento: 17223405 de Jorge Teixeira',
  'valor': '74,40',
  'referencia': '2018-04-29'},
 {'date': '2018-03-09',
  'descricao': 'Tarifa repasse: 17223405 de Jorge Teixeira',
  'valor': '-3,34',
  'referencia': '2018-04-29'},
 {'date': '2018-03-20',
  'descricao': 'Repasse pagamento: 22612776 de Paulo Jorge Alves',
  'valor': '74,40',
  'referencia': '2018-04-29'},
 {'date': '2018-03-20',
  'descricao': 'Tarifa repasse: 22612776 de Paulo Jorge Alves',
  'valor': '-3,34',
  'referencia': '2018-04-29'},
 {'date': '2018-03-30',
  'descricao': 'Repasse pagamento: 28015595 de Fulano Aguiar',
  'valor': '74,40',
  'referencia': '2018-04-29'},
 {'date': '2018-03-30',
  'descricao': 'Tarifa repasse: 28015595 de Fulano Aguiar',
  'valor': '-3,34',
  'referencia': '2018-04-29'},
 {'date': '2018-04-06',
  'descricao': 'Repasse pagamento: 28108174 de Ciclano da Silva',
  'valor': '65,10',
  'referencia': '2018-04-29'},
 {'date': '2018-04-06',
  'descricao': 'Tarifa repasse: 28108174 de Ciclano da Silva',
  'valor': '-3,34',
  'referencia': '2018-04-29'},
 {'date': '2018-04-16',
  'descricao': 'Repasse pagamento: 29384993 de Jorge Amado',
  'valor': '74,40',
  'referencia': '2018-04-29'},
 {'date': '2018-04-16',
  'descricao': 'Tarifa repasse: 29384993 de Jorge Amado',
  'valor': '-3,34',
  'referencia': '2018-04-29'},
 {'date': '2018-04-17',
  'descricao': 'Repasse pagamento: 29447637 de Pedro Jorge',
  'valor': '55,80',
  'referencia': '2018-04-29'},
 {'date': '2018-04-17',
  'descricao': 'Tarifa repasse: 29447637 de Pedro Jorge',
  'valor': '-3,34',
  'referencia': '2018-04-29'},
 {'date': '2018-04-28',
  'descricao': 'Repasse pagamento: 29517140 de Beltrano Diniz',
  'valor': '120,90',
  'referencia': '2018-04-29'},
 {'date': '2018-04-28',
  'descricao': 'Tarifa repasse: 29517140 de Beltrano Diniz',
  'valor': '-7,23',
  'referencia': '2018-04-29'},
 {'date': '2018-04-29',
  'descricao': 'Repasse pagamento: 29533821 de Henrique Almeida',
  'valor': '55,80',
  'referencia': '2018-04-29'},
 {'date': '2018-04-29',
  'descricao': 'Tarifa repasse: 29533821 de Henrique Almeida',
  'valor': '-3,49',
  'referencia': '2018-04-29'},
 {'date': '2018-04-29',
  'descricao': 'Repasse pagamento: 30830691 de Duque Alves',
  'valor': '74,40',
  'referencia': '2018-04-29'},
 {'date': '2018-04-29',
  'descricao': 'Tarifa repasse: 30830691 de Duque Alves',
  'valor': '-3,34',
  'referencia': '2018-04-29'},
 {'date': '2018-03-09',
  'descricao': 'Repasse pagamento: 17223405 de Jorge Teixeira',
  'valor': '74,40',
  'referencia': '2018-04-29'},
 {'date': '2018-03-09',
  'descricao': 'Tarifa repasse: 17223405 de Jorge Teixeira',
  'valor': '-3,34',
  'referencia': '2018-04-29'},
 {'date': '2018-03-20',
  'descricao': 'Repasse pagamento: 22612776 de Paulo Jorge Alves',
  'valor': '74,40',
  'referencia': '2018-04-29'},
 {'date': '2018-03-20',
  'descricao': 'Tarifa repasse: 22612776 de Paulo Jorge Alves',
  'valor': '-3,34',
  'referencia': '2018-04-29'},
 {'date': '2018-03-30',
  'descricao': 'Repasse pagamento: 28015595 de Fulano Aguiar',
  'valor': '74,40',
  'referencia': '2018-04-29'},
 {'date': '2018-03-30',
  'descricao': 'Tarifa repasse: 28015595 de Fulano Aguiar',
  'valor': '-3,34',
  'referencia': '2018-04-29'},
 {'date': '2018-04-06',
  'descricao': 'Repasse pagamento: 28108174 de Ciclano da Silva',
  'valor': '65,10',
  'referencia': '2018-04-29'},
 {'date': '2018-04-06',
  'descricao': 'Tarifa repasse: 28108174 de Ciclano da Silva',
  'valor': '-3,34',
  'referencia': '2018-04-29'},
 {'date': '2018-04-16',
  'descricao': 'Repasse pagamento: 29384993 de Jorge Amado',
  'valor': '74,40',
  'referencia': '2018-04-29'},
 {'date': '2018-04-16',
  'descricao': 'Tarifa repasse: 29384993 de Jorge Amado',
  'valor': '-3,34',
  'referencia': '2018-04-29'},
 {'date': '2018-04-17',
  'descricao': 'Repasse pagamento: 29447637 de Pedro Jorge',
  'valor': '55,80',
  'referencia': '2018-04-29'},
 {'date': '2018-04-17',
  'descricao': 'Tarifa repasse: 29447637 de Pedro Jorge',
  'valor': '-3,34',
  'referencia': '2018-04-29'},
 {'date': '2018-04-28',
  'descricao': 'Repasse pagamento: 29517140 de Beltrano Diniz',
  'valor': '120,90',
  'referencia': '2018-04-29'},
 {'date': '2018-04-28',
  'descricao': 'Tarifa repasse: 29517140 de Beltrano Diniz',
  'valor': '-7,23',
  'referencia': '2018-04-29'},
 {'date': '2018-04-29',
  'descricao': 'Repasse pagamento: 29533821 de Henrique Almeida',
  'valor': '55,80',
  'referencia': '2018-04-29'},
 {'date': '2018-04-29',
  'descricao': 'Tarifa repasse: 29533821 de Henrique Almeida',
  'valor': '-3,49',
  'referencia': '2018-04-29'},
 {'date': '2018-04-29',
  'descricao': 'Repasse pagamento: 30830691 de Duque Alves',
  'valor': '74,40',
  'referencia': '2018-04-29'},
 {'date': '2018-04-29',
  'descricao': 'Tarifa repasse: 30830691 de Duque Alves',
  'valor': '-3,34',
  'referencia': '2018-04-29'}]

In [75]:
filesConta = [file for file in os.listdir(pathConta) if 'conta' in file]
filesConta

['conta.ofx']

In [76]:
for file in filesConta:
    lista.extend(parse_xml(pathConta+file))

In [77]:
lista

[{'date': '2018-03-09',
  'descricao': 'Repasse pagamento: 17223405 de Jorge Teixeira',
  'valor': '74,40',
  'referencia': '2018-04-29'},
 {'date': '2018-03-09',
  'descricao': 'Tarifa repasse: 17223405 de Jorge Teixeira',
  'valor': '-3,34',
  'referencia': '2018-04-29'},
 {'date': '2018-03-20',
  'descricao': 'Repasse pagamento: 22612776 de Paulo Jorge Alves',
  'valor': '74,40',
  'referencia': '2018-04-29'},
 {'date': '2018-03-20',
  'descricao': 'Tarifa repasse: 22612776 de Paulo Jorge Alves',
  'valor': '-3,34',
  'referencia': '2018-04-29'},
 {'date': '2018-03-30',
  'descricao': 'Repasse pagamento: 28015595 de Fulano Aguiar',
  'valor': '74,40',
  'referencia': '2018-04-29'},
 {'date': '2018-03-30',
  'descricao': 'Tarifa repasse: 28015595 de Fulano Aguiar',
  'valor': '-3,34',
  'referencia': '2018-04-29'},
 {'date': '2018-04-06',
  'descricao': 'Repasse pagamento: 28108174 de Ciclano da Silva',
  'valor': '65,10',
  'referencia': '2018-04-29'},
 {'date': '2018-04-06',
  'descricao': 'Tarifa repasse: 28108174 de Ciclano da Silva',
  'valor': '-3,34',
  'referencia': '2018-04-29'},
 {'date': '2018-04-16',
  'descricao': 'Repasse pagamento: 29384993 de Jorge Amado',
  'valor': '74,40',
  'referencia': '2018-04-29'},
 {'date': '2018-04-16',
  'descricao': 'Tarifa repasse: 29384993 de Jorge Amado',
  'valor': '-3,34',
  'referencia': '2018-04-29'},
 {'date': '2018-04-17',
  'descricao': 'Repasse pagamento: 29447637 de Pedro Jorge',
  'valor': '55,80',
  'referencia': '2018-04-29'},
 {'date': '2018-04-17',
  'descricao': 'Tarifa repasse: 29447637 de Pedro Jorge',
  'valor': '-3,34',
  'referencia': '2018-04-29'},
 {'date': '2018-04-28',
  'descricao': 'Repasse pagamento: 29517140 de Beltrano Diniz',
  'valor': '120,90',
  'referencia': '2018-04-29'},
 {'date': '2018-04-28',
  'descricao': 'Tarifa repasse: 29517140 de Beltrano Diniz',
  'valor': '-7,23',
  'referencia': '2018-04-29'},
 {'date': '2018-04-29',
  'descricao': 'Repasse pagamento: 29533821 de Henrique Almeida',
  'valor': '55,80',
  'referencia': '2018-04-29'},
 {'date': '2018-04-29',
  'descricao': 'Tarifa repasse: 29533821 de Henrique Almeida',
  'valor': '-3,49',
  'referencia': '2018-04-29'},
 {'date': '2018-04-29',
  'descricao': 'Repasse pagamento: 30830691 de Duque Alves',
  'valor': '74,40',
  'referencia': '2018-04-29'},
 {'date': '2018-04-29',
  'descricao': 'Tarifa repasse: 30830691 de Duque Alves',
  'valor': '-3,34',
  'referencia': '2018-04-29'},
 {'date': '2018-03-09',
  'descricao': 'Repasse pagamento: 17223405 de Jorge Teixeira',
  'valor': '74,40',
  'referencia': '2018-04-29'},
 {'date': '2018-03-09',
  'descricao': 'Tarifa repasse: 17223405 de Jorge Teixeira',
  'valor': '-3,34',
  'referencia': '2018-04-29'},
 {'date': '2018-03-20',
  'descricao': 'Repasse pagamento: 22612776 de Paulo Jorge Alves',
  'valor': '74,40',
  'referencia': '2018-04-29'},
 {'date': '2018-03-20',
  'descricao': 'Tarifa repasse: 22612776 de Paulo Jorge Alves',
  'valor': '-3,34',
  'referencia': '2018-04-29'},
 {'date': '2018-03-30',
  'descricao': 'Repasse pagamento: 28015595 de Fulano Aguiar',
  'valor': '74,40',
  'referencia': '2018-04-29'},
 {'date': '2018-03-30',
  'descricao': 'Tarifa repasse: 28015595 de Fulano Aguiar',
  'valor': '-3,34',
  'referencia': '2018-04-29'},
 {'date': '2018-04-06',
  'descricao': 'Repasse pagamento: 28108174 de Ciclano da Silva',
  'valor': '65,10',
  'referencia': '2018-04-29'},
 {'date': '2018-04-06',
  'descricao': 'Tarifa repasse: 28108174 de Ciclano da Silva',
  'valor': '-3,34',
  'referencia': '2018-04-29'},
 {'date': '2018-04-16',
  'descricao': 'Repasse pagamento: 29384993 de Jorge Amado',
  'valor': '74,40',
  'referencia': '2018-04-29'},
 {'date': '2018-04-16',
  'descricao': 'Tarifa repasse: 29384993 de Jorge Amado',
  'valor': '-3,34',
  'referencia': '2018-04-29'},
 {'date': '2018-04-17',
  'descricao': 'Repasse pagamento: 29447637 de Pedro Jorge',
  'valor': '55,80',
  'referencia': '2018-04-29'},
 {'date': '2018-04-17',
  'descricao': 'Tarifa repasse: 29447637 de Pedro Jorge',
  'valor': '-3,34',
  'referencia': '2018-04-29'},
 {'date': '2018-04-28',
  'descricao': 'Repasse pagamento: 29517140 de Beltrano Diniz',
  'valor': '120,90',
  'referencia': '2018-04-29'},
 {'date': '2018-04-28',
  'descricao': 'Tarifa repasse: 29517140 de Beltrano Diniz',
  'valor': '-7,23',
  'referencia': '2018-04-29'},
 {'date': '2018-04-29',
  'descricao': 'Repasse pagamento: 29533821 de Henrique Almeida',
  'valor': '55,80',
  'referencia': '2018-04-29'},
 {'date': '2018-04-29',
  'descricao': 'Tarifa repasse: 29533821 de Henrique Almeida',
  'valor': '-3,49',
  'referencia': '2018-04-29'},
 {'date': '2018-04-29',
  'descricao': 'Repasse pagamento: 30830691 de Duque Alves',
  'valor': '74,40',
  'referencia': '2018-04-29'},
 {'date': '2018-04-29',
  'descricao': 'Tarifa repasse: 30830691 de Duque Alves',
  'valor': '-3,34',
  'referencia': '2018-04-29'}]

In [79]:
import json
with open('../../tudo.json', 'w') as fout:
    json.dump(lista , fout, indent=4)

## Tarefa 02 Concluída