In [18]:
import pandas as pd

df = pd.DataFrame({'DOB': {0: '26/01/2016', 1: '26/01/2016'}})

In [19]:
df

          DOB
0  26/01/2016
1  26/01/2016

In [20]:
df['DOB'] = pd.to_datetime(df.DOB)

In [21]:
df

         DOB
0 2016-01-26
1 2016-01-26

In [22]:
df['DOB'] = df['DOB'].dt.strftime('%Y-%m')

In [23]:
df

       DOB
0  2016-01
1  2016-01