In [1]:
import csv
import json
import pandas as pd

In [2]:
csvFilePath = '2019_nCoV_20200121_20200206.csv'
jsonFilePath = 'coronavirus_data.json'
csvNewFilePath = 'coronavirus_data.csv'

In [3]:
data = {}
df1 = pd.read_csv(csvFilePath)

In [4]:
df1

,ProvinceState,CountryRegion,Update,Confirmed,Suspected,Recovered,Death
0,Hubei,Mainland China,2/5/20 16:43,16678.0,NaN,538.0,479.0
1,Guangdong,Mainland China,2/5/20 13:23,895.0,NaN,49.0,0.0
2,Zhejiang,Mainland China,2/5/20 15:13,895.0,NaN,78.0,0.0
3,Henan,Mainland China,2/5/20 15:03,764.0,NaN,47.0,2.0
4,Hunan,Mainland China,2/5/20 15:23,661.0,NaN,54.0,0.0
...,...,...,...,...,...,...,...
1872,Heilongjiang,Mainland China,1/21/2020,NaN,1.0,NaN,NaN
1873,NaN,Japan,1/21/2020,1.0,NaN,NaN,NaN
1874,NaN,Thailand,1/21/2020,2.0,NaN,NaN,NaN
1875,NaN,South Korea,1/21/2020,1.0,NaN,NaN,NaN
1876,Washington,United States,1/21/2020,1.0,NaN,NaN,NaN

In [5]:
df1["Update"] = df1["Update"].map(lambda x: x[:7])

In [6]:
df1["Update"] = df1["Update"].str.replace("/202", "/20")

In [19]:
gpb1 = df1.groupby(["CountryRegion"]).count()[{"Confirmed","Suspected","Recovered", "Death"}]

In [20]:
gpb1

                      Suspected  Recovered  Confirmed  Death
CountryRegion
Australia                     1         48         80     44
Belgium                       0          3          3      3
Brazil                        1          0          0      0
Cambodia                      0         11         24     11
Canada                        0         27         50     27
Colombia                      1          0          0      0
Finland                       0         11         17     11
France                        0         11         30     11
Germany                       0         11         22     11
Hong Kong                     9         11         32     11
India                         0         11         15     11
Italy                         0         11         14     11
Ivory Coast                   0          0          1      0
Japan                         0         26         34     11
Macau                         0         11         33     11
Mainland China               73        555       1007    468
Malaysia                      1         11         29     11
Mexico                        1          0          0      0
Nepal                         0         11         29     11
Philippines                   1         11         15     11
Russia                        0         11         13     11
Singapore                     0         11         32     11
South Korea                   0         11         34     11
Spain                         0         11         12     11
Sri Lanka                     0         12         23     11
Sweden                        0         11         13     11
Taiwan                        0         11         34     11
Thailand                      0         26         34     11
UK                            0         11         13     11
United Arab Emirates          0         11         18     11
United States                 0         83        154     83
Vietnam                       0         12         32     11

In [16]:
gpb1.to_csv(csvNewFilePath)